* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 0.5;
}

main {
    min-height: 100vh;

}

body {
    background-color: #e7b968;
}

header {
    padding-left: 20rem;
    background-color: rgb(232, 185, 105);
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    z-index: 1000;
    min-width: 100%;
}

nav {
    display: flex;
    text-align: center;
}

nav a {
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 30px;
    padding: 5px;
    color: #463010;
    text-decoration: none;
    margin-right: 30px;
}

nav a:hover {
    background-color: rgba(63, 54, 54, 0.2);
    color: rgb(151, 102, 69);
}

header img {
    height: 100%;
    width: 110px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.mainmenu {
    padding-top: 8rem;
}

.mainsobre {
    padding-top: 68px;
}

.h1 {
    background-color: white;
    border: 6px solid rgb(238, 198, 111);
}

.imgLogo {
    width: 40%;
}

/* Three columns side by side */
.column {
    float: left;
    width: 24%;
    margin-bottom: 16px;
    margin-left: 40px;
    padding: 0 8px;
}

#conoce {
    margin: 2rem;
    font-weight: bold;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width: 890px) {
    header {
        padding-left: 5rem;
    }
}

@media only screen and (max-width: 566px) {
    header {
        padding-left: 5px;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card tres {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
} 

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.row {
    gap: 80px;
}

.sobre {
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left: 8rem;
}

.burger1 {
    padding-top: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-left: 2px;
    position: absolute;
}

.burger1 img{
    float: right;
    width: 300px;
    bottom: 25%;
  /*   position: relative; */
}

.burger1 .texto {
    text-align: left;
    padding: 0;
    margin-left: 7%;
    flex: 5%;
}

.burger2 img{
    padding: 1px;
    bottom:50%;
    height: 50%;
   /*  position: relative; */
    left: 70%;
    top: 53%;
    align-items: flex-end;
    display: flex;
    
}
.burger2 .texto2{
    text-align: right;
    flex: 5%;
    color: rgb(133, 26, 26);
}

/* top: arriba, right: derecha, bottom: abajo, left: izquierda */

.texto {
    position: absolute;
    margin-left: 350px;
    padding: 1%;
    color: rgb(133, 26, 26);
    bottom: 1%;
    left: 15%;
    top: 15%;
    right:15%;
}

.banner {
    display: flex;
    position: relative;
    width: 100%;
    height: 39rem
}

.banner img {
    margin-top: 67px;
    margin-bottom: 800px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bannermenu {
    display: flex;
    position: relative;
    width: 100%;
    height: 36rem
}

.bannermenu img {
    margin-top: 67px;
    margin-bottom: 800px;
    width: 100%;
    height: 100%;
    position: absolute;
}


input[type=text], [type=email], [type=tel],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #523914;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #36240b;
}

.formulario1 {
    margin: 80px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario1 form {
    padding: 20px;
    width: 60rem;
    background-color: rgba(167, 109, 22, 0.4);
    border-radius: 20px;
}

.contenedorcontacto {
    display: flex;
    
    text-align: top;
    align-content: center;
    border-color: #36240b;
    max-width: 6000px;
    width: 100%;
    padding: 50px;
    color: #8f651c;
}

#contact {
    
}

footer {
    background-color: #34240d;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: medium;
}

.slogan {
    display: flex;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #94200b;
    margin: 7rem 0 3rem 0;
    justify-content: center;
    text-shadow: 2px 2px #ec161d;
}

.highlight {
    color: #ff4120;
}

.invitacion {
   /*  background-color: rgb(41, 255, 255); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding: 60px;
    margin: 0 30px;
    border-style: groove;
    border-radius: 20%;
    text-align: center;
    margin-top: auto;
    border-color: rgb(241, 129, 43);
    border-width: 2cap;
    color: rgb(34, 25, 18);
    box-shadow: 10px 10px rgb(251, 196, 128);
    
}

.footermenu {
    margin-top: 60px;
}

.footercontacto {
    margin-top: -130px;
}

#contact {
    border-radius: 30px;
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
}